root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{js,cpp,h}]
charset = utf-8
indent_style = space
indent_size = 2

/* */
[/src/bcm2835/**]
charset = unset
end_of_line = unset
insert_final_newline = unset
indent_style = unset
indent_size = unset
